@import url('https://fonts.googleapis.com/css?family=Roboto');
@mixin green {
  color: #209e91;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

.left-item {
  float: left;
}

.right-item {
  float: right;
}

.color-green {
  @include green();
}

.hover-green {
  &:hover {
    @include green();
  }
}

.hover-scale {
    &:hover {
        transform: scale(1.1);
        transition: transform .2s ease;
    }
}