.menu {
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .top-page {
    background: #1C2B36;
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .5);
    height: 66px;
    width: 100%;
    min-width: 320px;
    padding: 0 32px 0 15px;
    div.right-item {
      display: inline-block;
      margin-top: 5px;
      .info-msg {
        position: relative;
        span.quantity {
          min-width: 14px;
          color: #fff;
          vertical-align: baseline;
          white-space: nowrap;
          text-align: center;
          border-radius: 5px;
          text-shadow: none;
          line-height: 14px;
          background-color: #e85656;
          position: absolute;
          top: 12px;
          right: -10px;
          font-size: 11px;
        }
      }
      .fa {
        margin-top: 12px;
        margin-left: 50px;
        &.fa-bell-o {
          margin-top: 20px;
        }
      }
    }
    .logo {
      font-size: 24px;
      line-height: 65px;
    }
  }
  .sidebar {
    position: fixed;
    width: 185px;
    top: 66px;
    z-index: 904;
    display: block;
    min-height: 100%;
    background-color: #1C2B36;
    height: 100%;
    ul {
      padding: 40px 0 0;
      list-style: none;
      li {
        text-align: center;
        padding: 0 15px;
        a {
          display: block;
          padding: 10px 0;
          &:hover {
            color: #209e91;
          }
          .fa {
            display: block;
          }
        }
      }
      li.active {
        background: #209e91;
        a {
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  .main-content {
    margin-left: 185px;
    padding: 66px 0 34px;
    min-height: 500px;
  }
}

