.product-list {
    background: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    border-radius: 5px;
    padding: 20px;
    .btn-primary,
    .btn-warning {
        background: #209e91;
        border-color: #209e91;
    }
    
    .btn-danger {
        background: #e85656;
        border-color: #e85656;
    }
    .table-utils {
        overflow: hidden;
        margin-bottom: 10px;
        .btn-primary {
            margin: 8px;
        }
        .pagination {
            margin: 8px 0;
            li {
                &.active {
                    a {
                        background: #209e91;
                        border-color: #209e91;
                    }
                }
            }
        }
        form.left-item {
            position: relative;
            width: 380px;
            margin-top: 8px;
            .form-group {
                &:last-of-type {
                    position: absolute;
                    top: -8px;
                    right: 0;
                }
                .btn-primary {
                    color: #209e91;
                    background: transparent;
                    border-color: transparent;
                }
            }
        }
    }
    table {
        tr {
            th {
                &:first-of-type {
                    text-align: center;
                }
            }
            td {
                &:first-of-type {
                    text-align: center;
                }
                &.product-img {
                    width: 100px;
                    a {
                        display: block;
                    }
                }
                &.action {
                    padding: 30px 20px 0;
                    overflow: hidden;
                    width: 220px;
                    .btn {
                        float: right;
                        width: 80px;
                    }
                    .edit-btn {
                        float: left;
                    }
                }
            }
        }
    }
}